body {
    font-family: "Manrope", sans-serif;
}







body {


    /* Header Image */

    header {
    background-image: url(../img/headerImg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }

    @media (min-width: 810px) {
        header {
            background-position: 26% 45%;
        }
    }

        @media (max-width: 600px) {
            header {
                background-position: 70% 25%;;
            }
    }

   
    @media (min-width: 1024px) {
        header {
            min-height: 647px;
        }
    }

    @media (min-width: 1440px) {
        header {
            min-height: 754px;
            background-position: left;
        }
    }

}

/* Header Nav & h1,p,button */

header {
    
    .navBtn {
    background-color: #F84646;
    }

    .headerInput {
        background-color: white;
        padding: 8px 5px;
        border-radius: 7px;
        overflow: none;
        
        }
    
    .headerInput button {
        background-color: #F84646;
        color: black;
    }

}

/* Main 1 */

main .mainArticles .positionBubble {
    position: relative;
}

main .mainArticles .positionBubble .bubbleRed{
    position:absolute;
    height: 55px;
    width: 55px;
    background-color: rgba(248, 70, 70, 0.9);
    left: 50%;
    top: -5%;
    border-radius: 50%;
}

main .mainArticles .positionBubble .bubbleBlue{
    position:absolute;
    height: 55px;
    width: 55px;
    background-color: rgba(53, 32, 216, 0.9);
    left: 48%;
    top: -5%;
    border-radius: 50%;
}

main .mainArticles .positionBubble .bubbleGreen{
    position:absolute;
    height: 55px;
    width: 55px;
    background-color: rgba(35, 216, 32, 0.9);
    left: 39%;
    top: 7%;
    border-radius: 50%;
}

@media (max-width: 1080px) {
    main .mainArticles .positionBubble .bubbleGreen{
        position:absolute;
        height: 55px;
        width: 55px;
        background-color: rgba(35, 216, 32, 0.9);
        left: 32%;
        top: 7%;
        border-radius: 50%;
    }
}

@media (max-width: 580px) {
    main .mainArticles .positionBubble .bubbleGreen{
        position:absolute;
        height: 55px;
        width: 55px;
        background-color: rgba(35, 216, 32, 0.9);
        left: 35%;
        top: 7%;
        border-radius: 50%;
    }
}

/* Main 2 */


main .mainIntro {
    background-color: #F84646;
    color: white;
}

main .mainIntro .size {
    font-size: 0.85rem;
}

main .mainBtn {
    background-color: #F84646;
}

@media (max-width: 992px) {
    main .mainIntro .rotate-90{
            transform: rotate(45deg);
    }
}

@media (max-width: 768px) {
    main .mainIntro .rotate-90{
            transform: rotate(90deg);
    }
}

/* Main 3 */

@media (min-width: 1210px) {
    .mainContent p {
        max-width: 80%;
        font-size: 1.1rem;
    }
}

@media (min-width: 992px) {
    main .mainContent p {
        line-height: 1.9;
    }
}

/* Main 4 */

.iconsMainFour .mainImgIcons {
    padding: 25px;
    height: 98px;
    width: 170px;
    margin-top: 15px;
}

/* Main 5 */

.mainFive .positionBubble {
    position: relative;
}

.mainFive .positionBubble .bubbleRed {
    position:absolute;
    height: 55px;
    width: 55px;
    background-color: rgba(248, 70, 70, 0.9);
    left: 50%;
    top: 5%;
    border-radius: 50%;
}

@media (max-width: 650px) {
    main .mainContent .mainBtnWidth {
        width: 100%;
    }
}

/* Footer */

 footer {
    background-color: #F84646;
    color: #E6E6E6;
 }



 /* Fonts */
/* Header */

 Header nav ul li,
 header nav nav .Btn {
    font-size: 0.875em;
    font-weight: 700;
 }

header h1 {
    font-size: 4em;
    font-weight: 800;
}

header p {
    font-size: 1.25em;
    font-weight: 400;
}

@media(max-width: 1024px) {
    header h1 {
        font-size: 3.5em;
    }

    header p {
        font-size: 1em;
    }
}

@media(max-width: 480px) {
    header h1 {
        font-size:  2.625em;
    }

    header p {
        font-size: 0.75em;
    }
}

/* main 1 */


main .mainArticles .fontsMainOne h2 {
    font-size: 2.25em;
    font-weight: 800;
}

main .mainArticles .fontsMainOne p {
    font-size: 1.5rem;
    font-weight: 400;
}

@media(max-width: 480px) {
    main .mainArticles .fontsMainOne h2 {
        font-size: 1.5em;
    }
    
    main .mainArticles .fontsMainOne p {
        font-size: 0.75em;
    }
}

main .mainArticles .mainArticlesTopics h3{
    font-weight: 800;
    font-size: 1.5;
}

main .mainArticles .mainArticlesTopics p {
    font-size: 1.125em;
    font-weight: 400;
}

/* main 2 */


main .mainIntro .mainIntroTwo h2 {
    font-size: 3em;
    font-weight: 800;
}

main .mainIntro .mainIntroTwo p {
    font-size: 1.125em;
    font-weight: 400;
    color: #ffffff;
}

main .mainIntro .mainIntroTopics p {
    font-size: 1.125em;
    font-weight: 700;
}

@media(max-width: 1024px) {
    main .mainIntro .mainIntroTopics p {
        font-size: 0.875em;
    }
}

@media(max-width: 480px) {
    main .mainIntro .mainIntroTwo h2 {
        font-size: 2.25em;
        font-weight: 800;
    }

    main .mainIntro .mainIntroTopics p {
        font-size: 1.125em;
    }
    
    main .mainIntro .mainIntroTwo p {
        font-size: 0.875em;
        font-weight: 400;
        color: #ffffff;
    }
}

/* main 3 */

main .mainContent h2{
    font-size: 4em;
    font-weight: 700;
}

main .mainContent p{
    font-size: 1em;
    font-weight: 400;
    color:#808080;
    ;
}

@media (max-width: 1024px) {
    main .mainContent h2{
        font-size: 3.625em;
        font-weight: 700;
    }
    
    main .mainContent p{
        font-size: 0.875;
        ;
    }
}

@media (max-width: 480px) {
    main .mainContent h2{
        font-size: 2.25em;
    }

}

/* main 4 */

main .iconsMainFour h2{
    font-size: 3em;
    font-weight: 800;
}

main .iconsMainFour p{
    font-size: 1.125em;
    font-weight: 500;
}

@media(max-width: 480px) {
    main .iconsMainFour h2{
        font-size: 2.25em;
        font-weight: 700;
    }
    
    main .iconsMainFour p{
        font-size: 0.875em;
        font-weight: 500;
    }
}

/* main 5 */

main .mainFive h2{
    font-size: 3em;
    font-weight: 800;
}

main .mainFive p{
    font-size: 1.125em;
    font-weight: 500;
}

@media(max-width: 480px) {
    main .mainFive h3{
        font-size: 2.25em;
        font-weight: 700;
    }
    
    main .mainFive p{
        font-size: 0.875em;
        font-weight: 500;
    }
}

/* footer */

footer ul li{
font-size: 1em;
font-weight: 400;
}

