body {
    font-family: "Manrope", sans-serif;
}


body {


    /* Header Image */

    header {
    background-image: url(../img/headerImg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }

    @media (min-width: 810px) {
        header {
            background-position: 26% 45%;
        }
    }

        @media (max-width: 600px) {
            header {
                background-position: 70% 25%;;
            }
    }

    @media (min-width: 542px) {
        header {
            max-height: 601px;
        }
    }
    @media (min-width: 1024px) {
        header {
            max-height: 647px;
        }
    }

    @media (min-width: 1440px) {
        header {
            height: 754px;
            background-position: left;
        }
    }

}

/* Header Nav & h1,p,button */

header {
    
    .navBtn {
    background-color: #F84646;
    }

    .headerInput {
        background-color: white;
        padding: 8px 5px;
        border-radius: 7px;
        overflow: none;
        
        }
    
    .headerInput button {
        background-color: #F84646;
        color: black;
    }

}

/* Main 1 */

main .mainArticles .positionBubble {
    position: relative;
}

main .mainArticles .positionBubble .bubbleRed{
    position:absolute;
    height: 55px;
    width: 55px;
    background-color: rgba(248, 70, 70, 0.9);
    left: 50%;
    top: -5%;
    border-radius: 50%;
}

main .mainArticles .positionBubble .bubbleBlue{
    position:absolute;
    height: 55px;
    width: 55px;
    background-color: rgba(53, 32, 216, 0.9);
    left: 48%;
    top: -5%;
    border-radius: 50%;
}

main .mainArticles .positionBubble .bubbleGreen{
    position:absolute;
    height: 55px;
    width: 55px;
    background-color: rgba(35, 216, 32, 0.9);
    left: 39%;
    top: 7%;
    border-radius: 50%;
}

@media (max-width: 1080px) {
    main .mainArticles .positionBubble .bubbleGreen{
        position:absolute;
        height: 55px;
        width: 55px;
        background-color: rgba(35, 216, 32, 0.9);
        left: 32%;
        top: 7%;
        border-radius: 50%;
    }
}

@media (max-width: 580px) {
    main .mainArticles .positionBubble .bubbleGreen{
        position:absolute;
        height: 55px;
        width: 55px;
        background-color: rgba(35, 216, 32, 0.9);
        left: 35%;
        top: 7%;
        border-radius: 50%;
    }
}

/* Main 2 */


main .mainIntro {
    background-color: #F84646;
    color: white;
}

main .mainIntro .size {
    font-size: 0.85rem;
}

main .mainBtn {
    background-color: #F84646;
}

@media (max-width: 992px) {
    main .mainIntro .rotate-90{
            transform: rotate(45deg);
    }
}

@media (max-width: 768px) {
    main .mainIntro .rotate-90{
            transform: rotate(90deg);
    }
}

/* Main 3 */

@media (min-width: 992px) {
    main .mainContent p {
        line-height: 1.9;
    }
}

/* Main 5 */

.main5 .positionBubble {
    position: relative;
}

.main5 .positionBubble .bubbleRed {
    position:absolute;
    height: 55px;
    width: 55px;
    background-color: rgba(248, 70, 70, 0.9);
    left: 50%;
    top: 5%;
    border-radius: 50%;
}

@media (max-width: 576px) {
    main .mainContent .mainBtnWidth {
        width: 100%;
    }
}

/* Footer */

 footer {
    background-color: #F84646;
    color: #E6E6E6;
 }

